@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    margin: 0;
    font-family: 'Montserrat';
}

.wrapper {
    background: url('./../img/background-light.png') center / cover no-repeat;
    min-height: 100vh;
    transition: 1s;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    max-width: 900px;
    min-width: 860px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dark-theme {
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: 20px;
    align-self: flex-end;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-theme:is(:hover, :focus) {
    transform: scale(1.1);
    outline: 3px solid royalblue;
}

.icon-svg-dark-mode {
    font-size: 30px;
    line-height: 0;
    transition: 0.4s;
}

.icon-svg-dark-mode_rotated {
    transform: rotate(180deg);
}

.keyboard {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(209, 210, 215, 0.5);
    backdrop-filter: blur(3px);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.2s;
}

.keyboard {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyboard:is(:hover, :focus) {
    outline: 3px solid royalblue;
}

.keyboard_hidden {
    display: none;
}

textarea {
    flex: 1 1 auto;
    width: 100%;
    font-family: 'Montserrat';
    background-color: rgba(209, 210, 215, 0.5);
    backdrop-filter: blur(3px);
    border: 0;
    border-radius: 20px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    transition: 0.2s;
}

textarea::placeholder {
    font-family: 'Montserrat';
    color: black;
}

textarea:is(:hover, :focus) {
    outline: 3px solid royalblue;
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    font-family: 'Montserrat';
}

.key {
    font-weight: 400;
}

.key, .option-key {
    flex: 0 0 50px;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 12px;
    font-size: 18px;
    background-color: rgba(254, 254, 254, 0.9);
    cursor: pointer;
    transition: 0.3s;
}

.key:hover {
    transform: scale(1.1);
}

.key:focus {
    outline: 1px solid royalblue;
}

.key:active, .key._dark:active {
    transform: scale(1);
    transition: 0.1s;
    background-color: rgba(65, 105, 225, 0.9);
    color: white;
    outline: 0;
}

.key:not(:hover) {
    transform: scale(1);
    outline: 0;
}

.option-key {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(168, 174, 188, 0.9);
    padding: 0 10px;
}

.option-key:hover {
    transform: scale(1.07);
}

.option-key:focus {
    outline: 1px solid royalblue;
}

.option-key:active {
    transform: scale(1) !important;
    transition: 0.1s !important;
    background-color: royalblue !important;
    color: white;
    outline: 0;
}

.option-key:not(:hover) {
    transform: scale(1);
    outline: 0;
}

#escape {
    text-align: left;
}

#tab {
    text-align-last: left;
}

#backspace {
    text-align: right;
}

.caps-lock {
    text-align: left;
}

.caps-lock_focused {
    background-color: royalblue !important;
    color: white;
}

#enter {
    text-align: right;
}

/* .shift {} */

.rigth-shift {
    text-align: right;
}

.left-shift {
    text-align-last: left;
}

.shift_focused {
    background-color: royalblue !important;
    color: white;
}

#symbols {
    flex: 0 0 50px;
}

#spacebar {
    flex: 1 0 auto;
}

#spacebar:hover {
    transform: scale(1.03);
}

#language {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0ms;
}

#language:active {
    color: white;
}

.icon-svg-globe {
    font-size: 20px;
    line-height: 0;
    transition: 0.3s;
}

.clean-button {
    flex: 0 0 200px;
}

.clean-button:hover {
    background-color: rgb(168, 0, 0) !important;
    color: white;
    outline: 0;
}

.clean-button:active {
    transition: 0.1s;
    outline: 0;
}

/*! ==========DARK THEME========== */
.wrapper._dark {
    background: url('./../img/background-dark.png') center / cover no-repeat;
}

.keyboard._dark,
textarea._dark {
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
}

textarea._dark::placeholder {
    color: white;
}

.key._dark {
    background-color: rgba(107, 107, 107, 0.9);
    color: white;
}

.option-key._dark {
    background-color: rgba(70, 70, 70, 0.9);
    color: white;
}

.dark-theme._dark {
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
}

.icon-svg-globe._dark {
    color: white;
}

/*! ================= */